<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blue-Shelter</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'main/assets/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Song+Myung&display=swap" rel="stylesheet">
    <link href="{% static 'main/css/mainstyle.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
{#    <a href="{% url 'mental_service_location' %}">진료/의료기관 정보 데이터베이스에 불러오기</a>#}

    <!--메인페이지 : 서비스명-->
    <div class="header">
        <h1>Blue Shelter</h1>
        <h3>Find Your Mind Shelter!</h3>
        <div class="admin_agency">
            <a class= 'button_admin' href="{% url 'agency_login' %}">관리자용</a>
        </div>
    </div>
    
    <!--서비스 목적-->
    <section class="introduce">
        <div>
            <h2>당신의 마음을 안심하고 맡길 곳을 찾는다면 'Blue Shelter'로!</h2>
            <p>우리는 당신 근처의 정신의료서비스 시설의 정보와 소통창구를 제공합니다.</p>
        </div>
    </section>

    <!--서비스 내용-->
    <section class="service">
        <div>
            <div>
                <h2>Our Services</h2>
            </div>
            <div class="row">
                <div class="offer">
                    <img class="icon" src="{% static 'main/assets/img/search.png' %}" alt="img1">
                    <h4>Find</h4>
                    <p>당신 주변의 시설을<br>반경별로 검색해보세요</p>
                </div>
                <div class="offer">
                    <img class="icon" src="{% static 'main/assets/img/information.png' %}" alt="img2">
                    <h4>Information</h4>
                    <p>병원에서 직접 작성한 소개글과<br>키워드를 살펴보세요</p>
                </div>
                <div class="offer">
                    <img class="icon" src="{% static 'main/assets/img/message.png' %}" alt="img3">
                    <h4>Message</h4>
                    <p>당신의 이야기를<br>직접 병원에 전달하세요</p>
                </div>
            </div>
        </div>
    </section>
    <!--서비스 이용 시작 버튼-->
    <section class="start">
        <h1>Start 'Blue Shelter'</h1>
        <a class="button" href="{% url 'map_show' %}">Find My Shelter!</a>
    </section>


</body>
</html>