{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">자료공2조 Dashboard</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">따릉이 이용자 증감 추이</div>
						</div>
						<div class="card-body" style="min-height: 300px;">
							<div class="chart-container">
								<canvas id="lineChart" style="height: 300px;"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">이벤트</div>
							</div>
							<input type="date" name="event_date" value="choice_event_data">
						</div>
						<div class="card-body" style="min-height: 340px;">
							<div class="chart-container" style="height: 300px">
								<canvas id="statisticsChart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">시간대별 이용량</div>
						</div>
						<div class="card-body" style="height: 720px;">
							<div class="chart-container">
								<canvas id="multipleBarChart" style="height:650px;"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">이용권</div>
						</div>
						<div class="card-body">
							<h2 style="color:#FFFFFF">출근</h2>
							<div class="chart-container">
								<canvas id="pieChart1" style="width: 50%; height: 50%"></canvas>
							</div>
							<h2 style="color:#FFFFFF">퇴근</h2>
							<div class="chart-container">
								<canvas id="pieChart2" style="width: 50%; height: 50%"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">대중교통 및 따릉이 이용량</div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								<canvas id="multipleLineChart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}


<script>

//$(document).ready(function(){
//	$.ajax {

//	}
//	})


var myLineChart = new Chart(lineChart, {
			type: 'line',
			data: {
				labels: ['', '2019', '2020', '2021', ''],
				datasets: [{
					label: "연도별 따릉이 이용자 수",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
						data: [null ,null]
					}]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				scales: {
					xAxes: [{
						ticks: {
							fontSize : 20,
							fontColor : '#FFFFFF'
						}
					}],
					yAxes: [{
						ticks: {
							fontSize : 20,
							fontColor : '#FFFFFF'
						}
					}]
				},
				legend: {
					position: 'bottom',
					labels : {
						padding: 10,
						fontColor: '#FFFFFF',
						fontSize: 20
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});

		var myPieChart1 = new Chart(pieChart1, {
			type: 'pie',
			data: {
				datasets: [{
					data: [50, 25, 10],
					backgroundColor :["#1d7af3","#f3545d","#84CC00"],
					borderWidth: 0
				}],
				labels: ['정기권', '일일권','일일권(비회원)'] 
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position : 'right',
					labels : {
						fontColor: '#FFFFFF',
						fontSize: 20,
						usePointStyle : true,
						padding: 20
					}
				},
				pieceLabel: {
					fontColor: '#FFFFFF',
					render: 'percentage',
					fontSize: 30
				},
				tooltips: false,
				layout: {
					padding: {
						left: 20,
						right: 20,
						top: 20,
						bottom: 20
					}
				}
			}
		})

		var myPieChart2 = new Chart(pieChart2, {
			type: 'pie',
			data: {
				datasets: [{
					data: [50, 35, 15],
					backgroundColor :["#1d7af3","#f3545d","#84CC00"],
					borderWidth: 0
				}],
				labels: ['정기권', '일일권'] 
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position : 'right',
					labels : {
						fontColor: '#FFFFFF',
						fontSize: 20,
						usePointStyle : true,
						padding: 20
					}
				},
				pieceLabel: {
					fontColor: '#FFFFFF',
					render: 'percentage',
					fontSize: 30
				},
				tooltips: false,
				layout: {
					padding: {
						left: 20,
						right: 20,
						top: 20,
						bottom: 20
					}
				}
			}
		})


		var myMultipleLineChart = new Chart(multipleLineChart, {
			type: 'line',
			data: {
				labels: ['0시', '01시', '02시', '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
				datasets: [{
					label: "버스",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [30, 45, 45, 68, 69, 90, 100, 158, 177, 200, 245, 256]
				},{
					label: "지하철",
					borderColor: "#59d05d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#59d05d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [10, 20, 55, 75, 80, 48, 59, 55, 23, 107, 60, 87]
				}, {
					label: "따릉이",
					borderColor: "#f3545d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#f3545d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [10, 30, 58, 79, 90, 105, 117, 160, 185, 210, 185, 194]
				}]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'bottom',
					labels : {
						fontColor: '#FFFFFF',
						fontSize: 20,
						padding: 20
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				},
				scales: {
					xAxes: [{
						ticks: {
							fontSize : 18,
							fontColor : '#FFFFFF'
						}
					}],
					yAxes: [{
						ticks: {
							fontSize : 18,
							fontColor : '#FFFFFF'
						}
					}]
				},
			}
		});

		var myMultipleBarChart = new Chart(multipleBarChart, {
			type: 'bar',
			data: {
				labels: ['월', '화', '수', '목', '금', '토', '일'],
				datasets : [{
					label: "TOP1",
					backgroundColor: '#59d05d',
					borderColor: '#59d05d',
					data: [15, 100, 112, 101, 144, 159, 678, 156, 188, 190, 210, 1045],
				},{
					label: "TOP2",
					backgroundColor: '#fdaf4b',
					borderColor: '#fdaf4b',
					data: [145, 256, 244, 233, 210, 279, 287, 253, 287, 299, 312,356],
				}, {
					label: "TOP3",
					backgroundColor: '#FE2E2E',
					borderColor: '#FE2E2E',
					data: [185, 279, 273, 287, 234, 312, 322, 286, 301, 320, 346, 399],
				}, {
					label: "TOP4",
					backgroundColor: '#177dff',
					borderColor: '#177dff',
					data: [185, 279, 273, 287, 234, 312, 322, 286, 301, 320, 346, 399],
				}, {
					label: "TOP5",
					backgroundColor: '#F781F3',
					borderColor: '#F781F3',
					data: [185, 279, 273, 287, 234, 312, 322, 286, 301, 320, 346, 399],
				}],
			},
			options: {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position : 'bottom',
					labels : {
						fontColor: '#FFFFFF',
						fontSize: 20,
						padding: 20
					}
				},
				title: {
					display: true,
					text: '시간대별 따릉이 이용량',
					fontSize: 20,
					fontColor: '#FFFFFF'
				},
				tooltips: {
					mode: 'index',
					intersect: false
				},
				responsive: true,
				scales: {
					xAxes: [{
						ticks: {
							fontSize : 20,
							fontColor : '#FFFFFF'
						}
					}],
					yAxes: [{
						ticks: {
							fontSize : 20,
							fontColor : '#FFFFFF'
						}
					}]
				}
			}
		});

		var ctx = document.getElementById('statisticsChart').getContext('2d');

var statisticsChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: ['월', '화', '수', '목', '금', '토', '일'],
		datasets: [ {
			label: "이벤트 장소 근처 대여량",
			borderColor: '#f3545d',
			pointBackgroundColor: 'rgba(243, 84, 93, 0.6)',
			pointRadius: 0,
			backgroundColor: 'rgba(243, 84, 93, 0.4)',
			legendColor: '#f3545d',
			fill: true,
			borderWidth: 2,
			data: [154, 184, 175, 203, 210, 231, 240]
		}, {
			label: "평균 대여량",
			borderColor: '#177dff',
			pointBackgroundColor: 'rgba(23, 125, 255, 0.6)',
			pointRadius: 0,
			backgroundColor: 'rgba(23, 125, 255, 0.4)',
			legendColor: '#177dff',
			fill: true,
			borderWidth: 2,
			data: [542, 480, 430, 550, 530, 453, 380]
		}]
	},
	options : {
		responsive: true, 
		maintainAspectRatio: false,
		legend: {
			position : 'bottom',
			labels : {
				fontColor: '#FFFFFF',
				fontSize: 20,
				padding: 20
			}
		},
		tooltips: {
			bodySpacing: 4,
			mode:"nearest",
			intersect: 0,
			position:"nearest",
			xPadding:10,
			yPadding:10,
			caretPadding:10
		},
		layout:{
			padding:{left:5,right:5,top:15,bottom:15}
		},
		scales: {
			yAxes: [{
				ticks: {
					fontStyle: "500",
					beginAtZero: false,
					maxTicksLimit: 5,
					padding: 10,
					fontSize: 16,
					fontColor: '#FFFFFF'
				},
				gridLines: {
					drawTicks: false,
					display: false
				}
			}],
			xAxes: [{
				gridLines: {
					zeroLineColor: "transparent"
				},
				ticks: {
					padding: 10,
					fontStyle: "500",
					fontSize: 18,
					fontColor: '#FFFFFF'
				}
			}]
		}, 
		legendCallback: function(chart) { 
			var text = []; 
			text.push('<ul class="' + chart.id + '-legend html-legend">'); 
			for (var i = 0; i < chart.data.datasets.length; i++) { 
				text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>'); 
				if (chart.data.datasets[i].label) { 
					text.push(chart.data.datasets[i].label); 
				} 
				text.push('</li>'); 
			} 
			text.push('</ul>'); 
			return text.join(''); 
		}  
	}
});

var myLegendContainer = document.getElementById("myChartLegend");

// generate HTML legend
// myLegendContainer.innerHTML = statisticsChart.generateLegend();

// bind onClick event to all LI-tags of the legend
// var legendItems = myLegendContainer.getElementsByTagName('li');


//for (var i = 0; i < legendItems.length; i += 1) {
//	legendItems[i].addEventListener("click", legendClickCallback, false);
//}

</script>

{% endblock javascripts %}
